# Terraform directories
.terraform/
.terraform.lock.hcl

# Local state files
terraform.tfstate
terraform.tfstate.backup

# Sensitive variable files
*.tfvars

# Crash logs
crash.log
crash.*.log

# Ignore OS junk
.DS_Store
Thumbs.db
